.container {
  display: flex;
  padding: 4rem;
  height: 100vh;
}

.truck-container {
  border-right: 3px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  width: 50rem;
  font-size: 2rem;
  height: 100%;
  overflow: scroll;
  padding: 2rem;
}


.map {
  width: 100%;
  position: relative;
}

.search-location {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  text-align: center;
  // width: 60%;
  display: flex;
  // justify-content: space-between;
}
